<div id="responsavel">
  <main>
    <h1>Responsáveis cadastrados</h1>

    <ul class="list">
      <% @responsavels.each do |responsavel| %>
        <%= render "responsavel_button", responsavel: responsavel %>
      <% end %>
    </ul>

  </main>
</div>


