@import "variaveis";

#admin {
  h1 {
    color: $text-black;
    font-weight: 500;
    margin-bottom: 1.2em;
  }

  .banner-content {
    background-color: #808080;

    &::before {
      background-color: #323232;
    }
  }

  .list-button {
    &:hover {
      background: #353535;
    }
  }
}


#admin.retrieve {
  .profile {
    p {
      font-size: 2rem;
    }
  }

  .pets {
    h3 {
      font-size: 4rem;
      margin-top: 1.5em;
      margin-bottom: .7em;
      color: $text-black;
    }

    li {
      list-style-type: none;
      font-size: 2rem;
      margin-top: 20px;
      border-bottom: 1px solid #cacaca;
      padding: 10px;
      width: 68%;
    }
  }
}

// pagination

#admin > main > div > nav > ul {
  > li.page-item {
    &.active {
      a {
        background-color: #303030;
        border-color: #303030;
        color: white;
      }
    }
    a {
      color: #2E2F30;
    }
  }
}