// Place all the styles related to the Consulta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variaveis";

#consulta {
  h1 {
    color: $text-red;
    font-weight: 500;
    margin-bottom: 1.2em;
  }

  .banner-content {
    background-color: #db535f;

    &::before {
      background-color: #DA2A39;
    }
  }

  .list-button {
    &:hover {
      background: $bg-red;
    }
  }
}
