@import "variaveis";

#home {
  // cores
  .consulta {
    background: $bg-red;
  }

  .veterinario {
    background: $bg-blue;
  }

  .pet {
    background: $bg-green;
  }

  .content {
    background: #74cfc7;

    &::before {
      background: #a8e1dc7e;
    }
  }

  .content {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    padding: 10vh;
    transform: skew(-8deg, 0deg);

    &::before {
      height: 100vh;
      width: 90vw;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: -5vw;
      right: 0;
      bottom: 0;
      z-index: -3;
    }

    header {
      height: 10vh;
      padding: 0 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      font-size: 40px;

      .profile {
        a {
          font-size: 28px;
          float: right;
          color: $text-black;
        }
      }

      img {
        margin-left: 23px;
        background: white;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-style: solid;
        border-color: black;
      }
    }

    main {
      height: 100%;
      transform: skew(8deg, 0deg);

      .buttons {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        div {
          p {
            margin-top: 10px;
            text-align: center;
            font-size: 3rem;
          }

          a {
            width: 260px;
            height: 200px;
            display: inline-block;
            padding: 20px;

            border-radius: 32px;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.17) !important;
          }

          margin-right: 50px;

          svg {
            width: 100%;
            height: 100%;

            path {
              stroke: white;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

      }
    }
  }
}
