// Place all the styles related to the Responsavels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variaveis";

#responsavel {
  h1 {
    color: $text-green;
    font-weight: 500;
    margin-bottom: 1.2em;
  }

  .banner-content {
    background-color: #32ac5581;

    &::before {
      background-color: #32AC54;
    }
  }
}

#responsavel.retrieve  {
  .profile {
    p {
      font-size: 2rem;
    }
  }

  .pets {
    h3 {
      font-size: 4rem;
      margin-top: 1.5em;
      margin-bottom: .7em;
      color: $text-green;
    }
    li {
      list-style-type: none;
      font-size: 2rem;
      margin-top: 20px;
      border-bottom: 1px solid #cacaca;
      padding: 10px;
      width: 68%;
    }
  }
}
